.headClass{
    background: #26c73e;
}

.super-app-theme--true{
    background: #fd93b3;
}

.super-app-theme--false{
    background: #7ac4c9;
}

.super-app.negative{
    background:#e4040f;

}

.super-app.positive {
    background:#7ac98f;

}

.super-app-theme_PRODUCR--true{
    background: #93e0e7;
}

.super-app-theme_PRODUCR--false{
    background: #e5f2a6;
}